@import "~antd/dist/antd.css";

.bg-white {
  background: white;
}

.bg-purple {
  background: purple;
}

.app {
  height: 100vh;
}

.app-Header {
  padding: 0px;
  height: fit-content;
  line-height: 22px;
}

.app-sider {
  padding: 5px 20px 0px 20px;
}

.board-header {
  height: 30px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.taskCard-container {
  background-color: #fff;
  width: 300px;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.add-task-button {
  min-width: 300px;
}

.container-background {
  padding: 30px 20px 0;
}

.bg-white {
  background-color: #fff;
}

/* Spacing utils */

.zero-margin {
  margin: 0px !important;
}

.pt-5 {
  padding-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.my-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.font-20 {
  font-size: 20px;
}

.br-16 {
  border-radius: 16px;
}
