@import "~antd/dist/antd.css";

.bg-white {
  background: white;
}

.bg-purple {
  background: purple;
}

.bg-orange {
  background: orange;
}

.app {
  height: 100vh;
}

.app-Header {
  padding: 0px;
  height: fit-content;
  line-height: 22px;
}

.app-sider {
  padding: 5px 20px 0px 20px;
}

.board-header {
  height: 30px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.taskCard-container {
  background-color: #fff;
  width: 300px;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.taskTable-container {
  padding-left: 24px;
  padding-right: 24px;
}

.calendar-icon {
  font-size: 20px;
  margin-right: 10px;
  color: red;
}

.add-task-button {
  min-width: 300px;
}

.container-background {
  padding: 30px 20px 0;
}

.column-icon {
  font-size: 18px;
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-button,
.gradient-button:hover {
  background: linear-gradient(
    90deg,
    rgba(7, 0, 36, 1) 20%,
    rgba(121, 9, 91, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border-radius: 10px;
}

.header-settings {
  width: auto;
  max-width: auto;
  min-width: auto;
  flex: 0 0 auto;
}

.settings-menu {
  margin: 0px;
  position: absolute;
  top: 64px;
  right: 60px;
  z-index: 10;
  width: 300px;
  border: 1px solid lightgrey;
}

.divider {
  margin: 4px 0px;
}

.bg-white {
  background-color: #fff;
}

/* Spacing utils */

.zero-margin {
  margin: 0px !important;
}

.pt-5 {
  padding-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.my-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.font-20 {
  font-size: 20px;
}

.br-16 {
  border-radius: 16px;
}
