@import "~antd/dist/antd.css";

.App {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App styles */

.taskCard-container {
  /* min-height: 200px; */
  background-color: #fff;
  width: 300px;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.add-task-button {
  min-width: 300px;
}

.container-background {
  padding: 30px 20px 0;
}

.bg-white {
  background-color: #fff;
}

/* Spacing utils */

.zero-margin {
  margin: 0px !important;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.my-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}
